spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/zisik
    username: sa
    password:
    driver-class-name: org.h2.Driver
  data:
    web:
      pageable:
        max-page-size: 2000
        default-page-size: 20
        one-indexed-parameters: true
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
    show-sql: true
    defer-datasource-initialization: true
  session:
    timeout: 86400
    jdbc:
      initialize-schema: always
server:
  servlet:
    session:
      cookie:
        max-age: 172800

